.categories-menu {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    overflow: auto;   

    &.no-animation {
        opacity: 0;
        transform: translateX(-110%);
    }

    &.slide-right {
        animation: slide-right 300ms ease-out forwards;
    }

    &.slide-left {
        animation: slide-left 300ms ease-out forwards;
    }

    .multilevel-menu {
        width: 100%;
    }
}

@keyframes slide-right {
    from {
        opacity: 0;
        transform: translateX(-110%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide-left {
    from {
        opacity: 0;
        transform: translateX(0);
    }
    to {
        opacity: 1;
        transform: translateX(-110%);
    }
}