.login-form {
    .input-group {
        display: block;
    }

    .input-group > .form-control {
        width: 100%;
    }

    .input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
        border-top-left-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
    }
}