.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 999999;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner {
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: spin 1.4s infinite linear;
}

.spinnerIcon {
    width: 100%;
    height: 100%;
    fill: #0d6efd;
}

@keyframes spin {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}