.header__navbar {
    .navbar-collapse {
        justify-content: space-between;

        @media (max-width: 767px) {
            top: 56px;
            left: 0;
            right: 0;
            position: absolute;
            z-index: 999;
            padding: 0 15px 15px 15px;
        }
    }

    .catalog-btn {
        color: rgba(255, 255, 255, 0.55);
        width: 100%;
        display: flex;
        padding-left: 0;
        
        &:hover {
            color: rgba(255, 255, 255, 0.75);
        }

        &:focus {
            box-shadow: none;
            
        }

        &:focus-visible {
            outline: 1px solid white;
        }
    }

    .navbar-buttons {
        display: flex;
        column-gap: 10px;

        svg {
            fill: #fff;
            height: 26px;
            width: 26px;
        }
    }

    .cart-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .cart-total {
        position: absolute;
        right: 0;
        bottom: 0;
        border-radius: 50%;
        background-color: #0d6efd;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 24px;
    }
        
    .auth-btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }
        
    .user-btn {
        &:hover + .dropdown-menu {
            display: block;
        }
    }
    
    .dropdown-menu {
        top: -1px;
        right: -1px;
        &:hover {
            display: block;
        }
    }
    
    @media (max-width: 768px) {
        .dropdown-menu {
            right: initial;
            left: -1px;
        }
    }
}